## /verify add

Links your FFXIV character to your Discord account. You will have to verify it by changing the bio of your Lodestone profile. Verification is needed to show your profile via [`/profile me`](/character-profile-commands#profile-me) manage and access favorites and to set a theme.

## /verify remove

Unlinks your FFXIV character from your Discord account. Also removes any other information stored of you, including your favorites and your chosen theme.
